body{
  margin: 0px;
  background-color: aquamarine;
}



h1{
  color: rgb(84, 244, 230);

}
.navbar{
  border-style: solid;
   border-width: 1px;
   border-color: rgb(18, 174, 174);
   padding: 20px;
   text-align: center ;
   background-color: blanchedalmond;
}
.navbar a{
  padding: 20px;
  text-decoration: none;
  color:black;
}
.navbar a:hover{
  color: orangered;
  background-color: yellowgreen;
}
.card{
  border: 3px solid black;
  width: 400px  ;
  text-align: center;
  border-color: black;
   margin-top: 50px ;
   border-radius: 30px;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   background-color: cornsilk;
   padding-bottom: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   
}
.card img{
    /* width: 300px; */
width: 100%;
height: auto;
}
.card button{
    border-style: bold;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}
